<h1>Start Conversation</h1>

<%= form_tag messages_new_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]' %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]' %>
  </div>

  <div class="form-group">
    <%= label_tag 'recipient[id]', 'Choose recipient' %>
    <%= text_field_tag 'recipient[id]' %>
  </div>

  <%= submit_tag 'Send' %>
<% end %>
