<!-- sass file app/assets/stylesheets/partials/_landing-page.scss -->
<div class="landing-page">
    <header class="header-bar">
        <h1 class="">Nanny<span class="italic">Dash</span>
        </h1>
    </header>
    <section class="topThreeHeader">
        <div class="returningUser">
            <h2>Returning User?</h2>

            <%= form_for("user", :url => user_session_path) do |f| %>
            <div class="field">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
                <%= f.label :password %><br/>
                <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="actions">
                <%= f.submit "Log in" %>
            </div>
            <% end %>

        </div>
        <div class="liftingKidIcon">
            <%= image_tag("kidInAir.svg", :alt => "Babysitters icon") %>
        </div>
        <div class="newAgencyTablet">Nanny<span class="italic">dash</span>: a centralized platform for agencies, families and sitters to stay up to date with each other.
        </div>
        <div class="newAgency">
            <h4>Nanny<span class="italic">dash</span>
                provides a centralized platform for agencies, families and sitters to stay up to date with each other.</h4>
        </div>
    </section>
    <section class="middleDivider">
        <h3>Our Product</h3>
    </section>

    <main class="main">
        <div class="explanatoryGroup">
            <h2 class="explanatoryHeader">Agency representatives</h2>
            <p class="explanatoryParagraph">
                view and manage sitter applications, jobs completed, family job posts, scheduled sitters, contact information and message other users.
            </p>
            <h2 class="explanatoryHeader">Parents and guardians</h2>
            <p class="explanatoryParagraph">
                post jobs, update your family profile, add helpful hints for sitters and message your sitter or agency.
            </p>
            <h2 class="explanatoryHeader">Nannies</h2>
            <p class="explanatoryParagraph">
                view and apply for jobs that parents have posted, view your profile, and message parents or your agency.
            </p>
        </div>
        <div class="previewImageContainer">
            <%= image_tag("nannydashPreview.png", :alt => "Preview inside nanny dash") %>
        </div>
    </main>
</div>

<!-- </header>
    <main class="user-groups-container">
        <div class="user-groups">
            <p>
                <span>AGENCIES</span><br>
                -View and manage Babysitter applications and jobs completed<br>
                -Family job posts and scheduled sitters<br>
                -Contact information and message responses
            </p>

        </div>
        <div class="user-groups">
            <p>
                <span>FAMILIES</span><br>
                -Post jobs for any of our sitters<br>
                -Request a specific sitter<br>
                -Add notes or special instructions Message the agency or sitter directly
            </p>

        </div>

        <div class="user-groups">
            <p>
                <span>SITTERS</span><br>
                -View job posts and requirements<br>
                -See details of your scheduled jobs<br>
                -Message your agency or family directly
            </p>

        </div>

    <div  class=""class="preview-image-container">
        <%= image_tag("splashLarge.png", :alt => "Preview image on landing page") %>
    </div>
        </main>
    <section class="icon-container">
        <div class="landing-page-icons">
            <%= image_tag("agency-icon.svg", :alt => "Agency icon") %>

            <%= image_tag("family-icon.svg", :alt => "Family icon") %>

            <%= image_tag("sitter-icon.svg", :alt => "Babysitters icon") %></div>
    </section> -->
