<div id="sitter-register-page">
    <header class="header-bar">
        <h1 ui-sref="/">nanny<span class="italic">dash</span></h1>
        <h2>Registration</h2>
    </header>

    <% if @sitter.errors %>
    <div><%= @sitter.errors.full_messages.to_sentence %></div>
    <% end %>
    <main class="register-area">

        <%= form_for(@sitter, url: sitter_new_path, html: { multipart: true }) do |f| %>

        <h3 class="section-title">Personal Information</h3>
        <div class="section-border">

          <div class="field">
            <div class="name form-name">
              <span>
              <%= f.label :first_name %>
              <%= f.text_field :first_name, placeholder: "First Name" %>
              </span>
              <span>
              <%= f.label :last_name %>
              <%= f.text_field :last_name, placeholder: "Last Name" %>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :street %>
            <%= f.text_field :street, placeholder: "Street" %>
          </div>

          <div class="field">
            <%= f.label :city %>
            <%= f.text_field :city, placeholder: "City" %>
          </div>

          <div class="field">
            <%= f.label :county %>
            <%= f.text_field :county, placeholder: "County" %>
          </div>

          <div class="field">
            <div class="state">
              <span>
              <%= f.label :state %>
              <%= f.text_field :state, placeholder: "State" %>
              </span>
              <span>
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code, placeholder: "Zip Code" %>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="phone">
              <span>
              <%= f.label :phone_number %>
              <%= f.text_field :phone_number, placeholder: "Phone Number" %>
              </span>
              <span>
              <%= f.label :birthday %>
              <%= f.text_field :birthday, placeholder: "Date of Birth" %>
              </span>
            </div>
          </div>
        </div>

        <h3 class="section-title">Hourly Rate and Certifications</h3>
        <div class="section-border">
          <div class="field">
            <%= f.label :hourly_rate %>
            <%= f.number_field :hourly_rate, placeholder: "Hourly Rate", step: "0.01" %>
          </div>

          <span class="certification-form">
            <div class="field">
              <%= f.check_box :cpr_certification, {}, "true", "false" %>
              <%= f.label :cpr_certification, "CPR Certification" %>
            </div>

            <div class="field">
              <%= f.check_box :first_aid_certification, {}, "true", "false" %>
              <%= f.label :first_aid_certification, "First Aid Certification" %>
            </div>
          </span>
        </div>

        <h3 class="section-title">Recommendations</h3>
        <div class="section-border">
          <%= f.label :recommendation_one_name, "First" %>
          <span class="recommendation-section">
            <div class="field">
              <%= f.text_field :recommendation_one_name, placeholder: "Full Name" %>
            </div>
            <div class="field">
              <%= f.email_field :recommendation_one_email, placeholder: "Email Address" %>
            </div>
          </span>

          <%= f.label :recommendation_one_name, "Second" %>
          <span class="recommendation-section">
            <div class="field">
              <%= f.text_field :recommendation_two_name, placeholder: "Full Name" %>
            </div>

            <div class="field">
              <%= f.email_field :recommendation_two_email, placeholder: "Email Address" %>
            </div>
          </span>

          <%= f.label :recommendation_one_name, "Third" %>
          <span class="recommendation-section">
            <div class="field">
              <%= f.text_field :recommendation_three_name, placeholder: "Full Name" %>
            </div>

            <div class="field">
              <%= f.email_field :recommendation_three_email, placeholder: "Email Address" %>
            </div>
          </span>
        </div>

        <h3 class="section-title">Login Information</h3>
        <div class="section-border picture">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: "Email Address" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>

          <%= f.label :picture, "Upload Profile Picture" %>
          <%= image_tag("upload.svg", :alt => "Preview image on landing page") %>

          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>

          <%= f.hidden_field :role, value: "nanny" %>
        </div>


        <section class="bottom-register-form">
            <%= f.submit "Register", class: "btn btn-primary" %>
        </section>

        <% end %>
    </main>
</div>
