<div class="container" id="agency-dashboard">
  <!-- ******************************
   Top Navigation
  ******************************* -->

  <header>
    <nav>
      <h4 ui-sref="dashboard"><i class="fa fa-home"></i>Dashboard</h4>
      <h4><%= image_tag("job.svg", :alt => "Directories Icon") %>Nanny<span>Dash</span></h4>
      <div class="user">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h4>Hey, {{$ctrl.firstName}}</h4>
        <button ng-click="$ctrl.logout()">Log Out</button>
      </div>
    </nav>
  </header>
  <!-- ******************************
   Side Navigation
  ******************************* -->
  <div class="all-container">
    <aside class="aside-nav">
      <!-- Messages Nav Section -->
      <section class="messages">
        <div class="title">
          <%= image_tag("messages.svg", :alt => "Directories Icon") %>
          <h1>Messaging Center</h1>
        </div>
        <button ui-sref="conversations" type="button"><span><i class="fa fa-star star-nav" aria-hidden="true" ng-show="{{ctrl.newMessage === true}}"></i>{{$ctrl.count.new_messages}} | </span>Messages</button>
        <button ui-sref="new-message" type="button">New Message</button>
      </section>
      <!-- Pending Applications Nav Section -->
      <section class="pending-apps">
        <div class="title">
          <%= image_tag("apps.svg", :alt => "Directories Icon") %>
          <h1>Pending Applications</h1>
        </div>
        <button ui-sref="pendingBabysitters" type="button"><span>{{$ctrl.count.pending_sitters}} | </span>Babysitters</button>
        <button ui-sref="pendingParents" type="button"><span>{{$ctrl.count.pending_families}} | </span>Parents</button>
      </section>
      <!-- Jobs Center Nav Section -->
      <section class="jobs">
        <div class="title">
          <%= image_tag("baby-stroller.svg", :alt => "Directories Icon") %>
          <h1>Jobs Center</h1>
        </div>
        <button ui-sref="newJobs" type="button"><span>{{$ctrl.count.new_jobs}} | </span>New Jobs</button>
        <button ui-sref="jobs" type="button"><span>{{$ctrl.count.all_jobs}} | </span>All Jobs</button>
      </section>
      <!-- Directories Nav Section -->
      <section class="directories">
        <div class="title">
          <%= image_tag("list.svg", :alt => "Directories Icon") %>
          <h1>Directories</h1>
        </div>
        <button ui-sref="babysitters" type="button">Babysitters</button>
        <button ui-sref="family" type="button">Parents</button>
      </section>
    </aside>
    <!-- ******************************
    Content Container
    ******************************* -->
    <main>
      <div class="main-container">

        <ui-view>LOADING</ui-view>

      </div>
    </main>
  </div>
</div>
